<form id="loginForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="admin_email"
      value="AhrorSulaymonov494@gmail.com"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="admin_password"
      value="123456"
    />
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<div id="welcome" style="display: none;">
  <h3>IT-INFOga xush kelibsiz</h3>
</div>

<script>
  const form = document.getElementById("loginForm")
  form.addEventListener("submit", async(e) => {
    e.preventDefault()
    const admin_email = document.getElementById("email").value
    const admin_password = document.getElementById("password").value

    try{
    fetch("http://45.138.158.157:3030/api/admin/login", {
        method: "POST",
        headers: {
            "Content-Type":"application/json"
        },
        body: JSON.stringify({
            admin_email,
            admin_password
        })
    })
    .then((response) => {
        if(response.ok){
            console.log("Login successfully")
            return response.json()
        }else{
            console.log("Login failed")
        }
    }).then((data) => {
        localStorage.setItem("admin_accessToken", data.admin_accessToken)
        form.style.display = "none"
        const welcome1 = document.getElementById("welcome")
        welcome1.style.display = "block"
    })
    .catch((error) => {
        console.error("Xatolik yuzaga kelidi ", error)
    })
  } catch(error){
    console.log(error)
  }
  })
  
</script>